$pink = #e71e6e
$text = #101010
$positive = #b7ffb1
$neutral = #d7d7d7
$negative = #ffb1b1
$overlay = #563a3a

@font-face
    font-family 'Bebas Neue'
    src url('../fonts/bebas/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/bebas/BebasNeueRegular.woff') format('woff')
    font-weight normal
    font-style normal
    
@font-face
    font-family 'HelveticaNeueCyr'
    src url('../fonts/helvetica/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('../fonts/helvetica/HelveticaNeueCyr-Thin.woff') format('woff')
    font-weight 100
    font-style normal


*
	font-family 'HelveticaNeueCyr', Arial

body
	background #101010

.page
	position relative

.wrapper
	max-width 1170px
	width 100%
	padding 0 15px
	margin 0 auto
	
.inner-wrapper
	max-width 780px
	width 100%
	padding 0 15px
	margin 0 auto
	+below(480px)
		padding 0

.header
	position relative
	z-index 5
	padding-top 35px
	display flex
	justify-content space-between
	flex-wrap wrap
	+below(767px)
		padding-top 0
	
.header-left
	+below(767px)
		width 100%
		order 2
		text-align center
		padding-top 15px
	p
		font-family 'Bebas Neue'
		color #ffffff
		font-size 40px
		&:nth-child(1)
			font-size 100px
			letter-spacing -0.5px
			+below(480px)
				font-size 75px
		&:nth-child(2)
		&:nth-child(3)
			letter-spacing -0.2px
			line-height 48px
		&:nth-child(4)
			color $pink
			letter-spacing -0.2px
			line-height 48px
			
.header-right
	max-width 165px
	width 100%
	text-align center
	+below(767px)
		margin 0 auto
		order 1
	.logo
		padding-top 15px
		max-width 70px
		width 100%
		margin 0 auto
		img
			width 100%
	.title
		color $pink
		font-size 40px
		letter-spacing -0.2px
		margin-top 2px
		
.navigation
	margin-top 32px
	a
		display block
		text-align center
		text-decoration none
		background-color $pink
		font-size 20px
		letter-spacing -0.1px
		color #fff
		padding 3px 0
		margin-top 4px
		transition 0.3s
		&:hover
			background-color darken($pink, 20%)

.inner-top-img
	max-width 100%

.inner-content
	margin-top -2px
	padding-bottom 70px
	&.white-bg
		background #fff

.main-top-info
	display flex
	margin-bottom 30px
	.img
		max-width 165px
		margin-right 15px
		img
			width 100%
	.text
		max-width 458px
		margin 0 15px
		margin-top 20px
		color $text
		font-size 18px
		line-height 22px
		letter-spacing -0.09px
	+below(767px)
		flex-wrap wrap
		.img
			margin 0 auto
		.text
			max-width 100%
			
.main-revievs
	display flex
	justify-content space-between
	align-items center
	margin 0 -15px
	+below(767px)
		flex-wrap wrap
		margin 0
	.title
	&-item
		width calc(100% / 4 - 30px)
		margin 0 15px
		+below(767px)
			width calc(100% / 2 - 30px)
			margin-bottom 15px
		+below(480px)
			width calc(100% - 30px)
	.title
		color $text
		font-size 24px
		letter-spacing -0.12px
		text-align center
		+below(767px)
			text-align left
	&-item
		position relative
		z-index 1
		color $text
		font-size 18px
		line-height 18px
		letter-spacing -0.09px
		&.positive
		&.neutral
		&.negative
			.line
				position absolute
				width 0
				height 100%
				transition 1s
				z-index -1
		&.positive
			.line
				background-color $positive
		&.neutral
			.line
				background-color $neutral
		&.negative
			.line
				background-color $negative
		
.main-video
	position relative
	background-color #000
	margin-top 40px
	+below(767px)
		margin-top 25px
		margin-bottom 45px

.iframe-wrapper {
	position relative
	padding-bottom 53%
	padding-top 25px
	height 0
}
.iframe-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
		
.main-video-thumb
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	cursor pointer
	visibility hidden
	opacity 0
	transition .75s
	img
		width 100%
	&.active
		opacity 1
		visibility visible
		&:before
			z-index 1
			opacity 0.5
			visibility visible
		&:after
			z-index 2
			opacity 1
			visibility visible
	&:before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color $overlay
		opacity 0
		visibility hidden
		z-index -1
		transition .75s
	&:after
		content ''
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		opacity 0
		visibility hidden
		z-index -1
		width 100px
		height 100px
		background-image url('../img/play.svg')
		background-size 100% 100%
		
	
.main-gallery-wrapper
	padding 0 65px
	+below(480px)
		padding 0
		
.main-gallery
	position relative
	max-width 585px
	padding 0 15px
	margin 0 auto
	margin-top 70px
	.img
		position relative
		display block
		&:hover
			&:before
				opacity 0.5
			&:after
				opacity 1
		&:before
			content ''
			position absolute
			z-index 1
			width 100%
			height 100%
			left 0
			top 0
			background-color $overlay
			opacity 0
			transition .3s
		&:after
			content ''
			position absolute
			z-index 2
			left 50%
			top 50%
			width 60px
			height 60px
			transform translate(-50%, -50%)
			background-image url('../img/zoom.svg')
			background-size 100% 100%
			opacity 0
			transition .3s
	.owl-nav
		position absolute
		width 100%
		top 50%
		transform translateY(-50%)
		+below(480px)
			display none
	.owl-prev
		position absolute
		left -65px
		width 35px
		height 35px
		border 3.5px solid #000 !important
		border-radius 50%
	.owl-next
		position absolute
		right -30px
		width 35px
		height 35px
		border 3.5px solid #000 !important
		border-radius 50%
	.owl-prev
	.owl-next
		&:before
			content ''
			position absolute
			left 7px
			top 8.5px
			width 12px
			height 3.5px
			background-color #000
			border-radius 15px
			transform rotate(-45deg)
		&:after
			content ''
			position absolute
			left 7px
			top 15px
			width 12px
			height 3.5px
			background-color #000
			border-radius 15px
			transform rotate(45deg)
	.owl-next
		transform scaleX(-1)

.cool-pic
	position absolute
	bottom 0
	right 0
	z-index -1
	width 640px
	height 400px
	background-image url('../img/cool_pic.jpg')
	background-color $text
	background-blend-mode lighten
	+below(480px)
		display none
			
.footer
	padding 20px 0
	ul
		text-align right
		li
			display inline-block
			color #ffffff
			font-size 14px
			letter-spacing -0.07px
			&:not(:first-child)
				margin-left 15px
			a
				color inherit
				text-decoration none
				transition .3s
				&:hover
					color $pink