.cool-pic
.wrapper
	header.header
		h1.header-left
			p DEADPOOL
			p 2016
			p usa
			p 18+
		.header-right
			.logo
				img(src="img/logo.png", alt="logo")
			p.title spike
			nav.navigation
				ul
					li
						a(href="#") Все кино
					li
						a(href="#") Рейтинги
					li
						a(href="#") Общение
					li
						a(href="#") Войти
	.inner-wrapper
		img(src="img/layer0.jpg", alt="img", style="margin-top: -280px;").inner-top-img
		.inner-content.white-bg
			.main-top-info
				.img
					img(src="img/poster.jpg", alt="img")
				.text
					p Уэйд Уилсон — наёмник. Будучи побочным продуктом программы вооружённых сил под названием «Оружие X», Уилсон приобрёл невероятную силу, проворство и способность к исцелению. Но страшной ценой: его клеточная структура постоянно меняется, а здравомыслие сомнительно. Всё, чего Уилсон хочет, — это держаться на плаву в социальной выгребной яме. Но течение в ней слишком быстрое.
			.main-revievs
				p.title Рецензии:
				p.main-revievs-item.positive(data-count="266")
					span.line
					| 266
					br
					| положительных
				p.main-revievs-item.neutral(data-count="41")
					span.line
					| 41
					br
					| нейтральная
				p.main-revievs-item.negative(data-count="66")
					span.line
					| 66
					br
					| отрицательных
			.main-video
				.main-video-thumb.active
					img(src="img/vid.jpg", alt="img")
				.iframe-wrapper
					iframe(id="yt-video" data-src="https://www.youtube.com/embed/D86RtevtfrA?autoplay=1&rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
			.main-gallery-wrapper
				.main-gallery.owl-carousel
					each val in [, ,]
						a.img(data-fancybox="gallery" href="img/pic1.jpg")
							img(src="img/pic1.jpg", alt="img")
						a.img(data-fancybox="gallery" href="img/pic2.jpg")
							img(src="img/pic2.jpg", alt="img")
						a.img(data-fancybox="gallery" href="img/pic3.jpg")
							img(src="img/pic3.jpg", alt="img")
		footer.footer
			ul
				li 
					a(href="#") Реклама
				li 
					a(href="#") Условия использования
				li © 2003–2016 Spike


