extends ../blocks/layout/layout

block head
	- var pageTitle = 'Index Page';

block content
	main.page
		include ../blocks/main/main
	script(src="./js/jquery.min.js")
	script(src="./js/owl.carousel.min.js")
	script(src="./js/jquery.fancybox.min.js")
	script(src="./js/app.js")
